# Ver 1.

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|34.647|355.830|1.874|985.164|0.007|1377.522|
|Weight [%]|2.515|25.831|0.136|71.517|0.001|-|

||s0|s1|s2|s3|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|2.800|336.512|7.402|2.780|349.495|
|Weight [%]|0.801|96.285|2.118|0.796|-|

# Ver 2.

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.272|270.528|1.678|994.205|0.008|1301.691|
|Weight [%]|2.710|20.783|0.129|76.378|0.001|-|

||s0|s1|s2|s3|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|2.420|256.450|7.560|2.807|269.277|
|Weight [%]|0.900|95.236|2.807|1.057|-|

# Ver 3.

## `resize_const`: 4_0_0

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.720|267.986|0.935|69.174|0.006|373.821|
|Weight [%]|9.555|71.688|0.250|18.505|0.002|-|

## `resize_const`: 4_0_1

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.647|281.383|0.981|73.886|0.006|391.903|
|Weight [%]|9.096|71.799|0.250|18.853|0.002|-|

## `resize_const`: 4_0.1_1

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.504|274.577|1.032|74.015|0.006|385.133|
|Weight [%]|9.219|71.294|0.268|19.218|0.002|-|

## `resize_const`: 2_0_0

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.348|270.094|1.443|254.006|0.007|560.899|
|Weight [%]|6.302|48.154|0.257|45.286|0.001|-|

## `resize_const`: 2_0.1_1

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.078|271.443|1.431|264.415|0.008|572.376|
|Weight [%]|6.128|47.424|0.250|46.196|0.001|-|

In [5]:
import pandas as pd

data = pd.read_csv('Ver3_2_0.1_1.csv', header=None)
data.head()

,0,1,2,3,4,5,6,7,8
0,0.026214,0.005022,0.312441,0.009218,0.003605,0.331619,0.001595,0.336242,0.000021
1,0.031083,0.001412,0.188742,0.005342,0.001892,0.198014,0.001248,0.179856,0.000008
2,0.033448,0.004660,0.225005,0.006001,0.002266,0.238710,0.001261,0.242197,0.000014
3,0.036433,0.001556,0.307048,0.009089,0.003380,0.321756,0.001102,0.342579,0.000004
4,0.036199,0.001335,0.263235,0.007859,0.002930,0.275963,0.001117,0.287228,0.000005

In [2]:
g = [0, 5, 6, 7, 8]
s = [1, 2, 3, 4]

In [6]:
res1 = [0 for _ in range(6)]
res2 = [0 for _ in range(5)]

tot = 0
for i, j in enumerate(g):
    res1[i] = data[j].mean() * 1000
    tot += data[j].mean()
res1[5] = tot * 1000

for i, j in enumerate(g):
    res2[i] = data[j].mean() / tot * 100

print('||g0|g1|g2|g3|g4|Total|')
print('|:-:|:-:|:-:|:-:|:-:|:-:|:-:|')
print('|Time [ms]|', end='')
for i in res1:
    print('{:.3f}'.format(i), end='|')
print()
print('|Weight [%]|', end='')
for i in res2:
    print('{:.3f}'.format(i), end='|')
print('-|')

||g0|g1|g2|g3|g4|Total|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|Time [ms]|35.078|271.443|1.431|264.415|0.008|572.376|
|Weight [%]|6.128|47.424|0.250|46.196|0.001|-|

In [4]:
for i in s:
    print(data[i].mean() * 1000)
    
print('********************************************')

tot = 0
for i in s:
    tot += data[i].mean()
    
for i in s:
    print(data[i].mean() / tot * 100)

print('********************************************')

print(tot * 1000)

2.991697575786274
257.3676416189364
7.340865560097222
2.8639146597078007
********************************************
1.105725911573195
95.12260612229475
2.7131703848914204
1.0584975812406356
********************************************
270.5641194145277

In [26]:
import os
import csv

if 'time.csv' in os.listdir():
    os.remove('./time.csv')
    
for i in os.listdir():
    if '.csv' in i and not i == 'time.csv':
        data = pd.read_csv(i, header=None)
        tot = 0
        with open('./time.csv', 'a', encoding='utf8') as f:
            wr = csv.writer(f)
            wr.writerow([i[0:-4], data[0].mean()*1000, data[5].mean()*1000, data[6].mean()*1000, data[7].mean()*1000, data[8].mean()*1000])