In [1]:
import pandas as pd

data = pd.read_csv('tmp.csv', header=None)
data.head()

,0,1,2,3,4,5,6,7,8
0,0.032206,0.008020,0.433064,0.008832,0.003426,0.462197,0.026461,1.257668,0.000021
1,0.036051,0.010228,0.231630,0.005567,0.002025,0.253958,0.001260,0.687662,0.000013
2,0.036278,0.004850,0.299853,0.006127,0.002165,0.318344,0.002143,0.867262,0.000004
3,0.035819,0.007007,0.438285,0.012288,0.003409,0.468739,0.003147,1.317463,0.000016
4,0.036339,0.001468,0.353878,0.007362,0.002850,0.372432,0.001049,1.086687,0.000004

In [2]:
g = [0, 5, 6, 7, 8]
s = [1, 2, 3, 4]

In [3]:
for i in g:
    print(data[i].mean() * 1000)
    
print('********************************************')

tot = 0
for i in g:
    tot += data[i].mean()
    
for i in g:
    print(data[i].mean() / tot * 100)

print('********************************************')

print(tot * 1000)

34.64651107788082
355.8300131618387
1.8739841952181762
985.1642811652457
0.007199768972868966
********************************************
2.5151330683111186
25.831167553615096
0.13604023817263183
71.5171364789906
0.0005226609105649298
********************************************
1377.5219893691562

In [4]:
for i in s:
    print(data[i].mean() * 1000)
    
print('********************************************')

tot = 0
for i in s:
    tot += data[i].mean()
    
for i in s:
    print(data[i].mean() / tot * 100)

print('********************************************')

print(tot * 1000)

2.799586494370215
336.5123602423337
7.402427125685236
2.7802509836630778
********************************************
0.801038498261138
96.28541794900649
2.1180374745236517
0.795506078208711
********************************************
349.49462484605226